@{
    ViewBag.Title = "订单";
}
<link type="text/css" rel="stylesheet" href="/Content/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/Content/widget.css" source="widget">
<link type="text/css" rel="stylesheet" href="/Content/unit.css">
<link rel="stylesheet" href="/Content/layer.css" />
<style type="text/css">
    .center {
        margin: 0 auto;
        margin-top: 35px;
        text-align: center;
        width: 300px;
    }

    .hr {
        border-bottom: 1px solid #e6e6e6;
        height: 0;
        margin-bottom: 10px;
    }

    .parent {
        margin-bottom: 10px;
        height: 20px;
    }

    .proName {
        width: 75%;
        float: left;
    }

    .yuan {
        float: right;
        width: 15%;
        text-align: right;
    }

    .pm{
        margin: 10px 0 0 0;
    }

    .step-tit h3{
        float:left;
    }

    .step-tit img {
        float: right;
        height: 35px;
        margin: 3px auto;
    }
</style>
<div id="container">
    @using (Html.BeginForm("Order", "WxPay", FormMethod.Post))
    {

        <div id="content" class="w">

            <div class="checkout-tit">
                <span class="tit-txt">填写并核对订单信息</span>
            </div>

            <div class="checkout-steps">

                <div class="step-tit">
                    <h3>订单信息</h3>
                    <img src="@GetImgUrl(ViewBag.payType)" alt="支付方式"/>
                </div>
                <div class="hr"></div>
                <div class="parent">

                    <div class="proName">
                        <p><font color="red" style="padding:0 10px;">@ViewBag.Name</font>&nbsp;x &nbsp; @ViewBag.Num</p>
                    </div>
                    <div class="yuan">
                        <p>@ViewBag.Total 元</p>
                    </div>

                </div>

                <div class="hr"></div>

                <div id="shipAndSkuInfo">
                    <div class="center">

                        <div>
                            <img src="@ViewBag.QR_url" alt="微信支付商品二维码" />
                            <p>@ShowText(ViewBag.payType)</p>

                            <p id="paypage-order" class="pm" style="color:red">
                                <span data-toggle="tooltip" data-placement="bottom" data-trigger="hover" data-title="支付后将自动发货" class="tip_show" data-original-title="" title="">订单号:@ViewBag.tNo</span>
                                <br> 保留订单号，方便查单或售后
                            </p>

                            <p class="animation-slide-bottom pm">
                                <a class="btn btn-danger" href="/WxPay/KaMiList?hao=@ViewBag.tNo">已完成付款 查询卡密</a>
                            </p>

                            <p class="animation-slide-bottom pm">
                                <a class="btn btn-success" href="http://wpa.b.qq.com/cgi/wpa.php?ln=2&uin=43854337&site=1777ka.com&menu=yes" target="_blank">联系客服</a>
                                <a class="btn btn-primary" href="/Home/Index">返回主页</a>&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    }
</div>
@functions{
    public IHtmlString GetImgUrl(string type)
    {
        var url = "";
        switch(type)
        {
            case "1":
                {
                    url = "/Images/wx.png";
                }
                break;
            case "2":
                {
                    url = "/Images/alipay.png";
                }
                break;
        }
        return new HtmlString(url);
    }
    
}

@helper ShowText(string type)
{
    if (type == "1")
    {
        @:打开微信，扫一扫二维码
    }
    else if (type == "2")
    {
        @:打开支付宝，扫一扫二维码
    }
    else
    {

    }
}

@section scripts
{
    <script src="/Scripts/layer.js"></script>
    <script type="text/javascript">
        //var intDiff = parseInt(330);//倒计时总秒数量

        //function timer(intDiff) {
        //    window.setInterval(function () {
        //        var day = 0,
        //            hour = 0,
        //            minute = 0,
        //            second = 0;//时间默认值
        //        if (intDiff > 0) {
        //            day = Math.floor(intDiff / (60 * 60 * 24));
        //            hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
        //            minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
        //            second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
        //        }
        //        if (minute == 00 && second == 00) document.getElementById('qrcode').innerHTML = '<br/><br/><br/><br/><br/><h2>二维码超时 请重新发起交易</h2><br/><br/><br/>';
        //        if (minute <= 9) minute = '0' + minute;
        //        if (second <= 9) second = '0' + second;
        //        $('#day_show').html(day + "天");
        //        $('#hour_show').html('<s id="h"></s>' + hour + '时');
        //        $('#minute_show').html('<s></s>' + minute + '分');
        //        $('#second_show').html('<s></s>' + second + '秒');
        //        intDiff--;
        //    }, 1000);
        //}
        //$(function () {
        //    timer(intDiff);
        //});

        //// 设置参数方式
        //var qrcode = new QRCode('qrcode', {
        //    text: 'https://wx.tenpay.com/f2f?t=AQAAAKuLTMWQBznFktPyf7WogOA%3D',
        //    width: 250,
        //    height: 250,
        //    colorDark: '#000000',
        //    colorLight: '#ffffff',
        //    correctLevel: QRCode.CorrectLevel.H
        //});

        //// 订单详情
        //$('#orderDetail .arrow').click(function (event) {
        //    if ($('#orderDetail').hasClass('detail-open')) {
        //        $('#orderDetail .detail-ct').slideUp(500, function () {
        //            $('#orderDetail').removeClass('detail-open');
        //        });
        //    } else {
        //        $('#orderDetail .detail-ct').slideDown(500, function () {
        //            $('#orderDetail').addClass('detail-open');
        //        });
        //    }
        //});

        function redirectToKami()
        {
            window.location.href = '/WxPay/KaMiList?tNo=@ViewBag.tNo';
        }

        // 检查是否支付完成
        function checkpay() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/WxPay/CheckPayResult",
                data: { payway: "@ViewBag.payType", trade_no: "@ViewBag.tNo" }, //post数据
                success: function (data, textStatus) {
                    var osss = eval('(' + data + ')');
                    //从服务器得到数据，显示数据并继续查询
                    if (osss.code == 1) {
                        layer.alert('支付成功，即将跳转到卡密页面', {
                            title: '提示',
                            skin: 'layui-layer-molv',
                            closeBtn: 0
                        });
                       
                        //延迟3秒跳转
                        setTimeout("redirectToKami()", 3000);
                    }
                    if (osss.code == -2) {
                        layer.alert('订单不存在，请重新下单', {
                            title: '异常',
                            skin: 'layui-layer-molv',
                            closeBtn: 0
                        });
                    }
                    if (osss.code == -1) {
                        setTimeout("checkpay()", 3000);
                    }
                },
                //Ajax请求超时，继续查询
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (textStatus == "timeout") {
                        setTimeout("checkpay()", 1000);
                    } else { //异常
                        layer.alert('请求服务出现异常', {
                            title: '异常',
                            skin: 'layui-layer-molv',
                            closeBtn: 0
                        });
                    }
                }
            });
        }
        window.onload = checkpay();

    </script>
}