@using HZ.MVC.FaKa.Areas.Admin.Models;
@{
    ViewBag.Title = "购前必看：";
}
<link rel="stylesheet" href="/Content/bootstrap.css" />
<link rel="stylesheet" href="http://www.bootcss.com/p/buttons/css/buttons.css">
<style>
    .goods:hover {
        color: green;
        cursor: pointer;
    }


    .table-a table {
        border: 1px solid #3CABEB;
    }
    /* css注释：只对table标签设置红色边框样式 */


    a:hover {
        color: #00b0ff;
    }

    a:hover, a:active {
        text-decoration: underline;
    }

    html {
        height: 100%;
    }

    body {
        min-height: 100%;
        position: relative;
    }

    h1 {
        font-size: 22px;
        line-height: 40px;
        margin: 30px 0 10px 0;
        color: #444444;
    }

    h2 {
        font-size: 16px;
        margin: 0 0 10px 0;
    }

    p {
        width: 100%;
        color: #999999;
        line-height: 40px;
    }



    #bottom {
        width: 100%;
        background: #fafafa;
        margin-top: 20px;
        padding: 50px 0;
    }

        #bottom ul {
            width: 1024px;
            margin: 0 auto;
        }

            #bottom ul li {
                width: 278px;
                float: left;
                padding-left: 36px;
                margin-left: 36px;
                border-left: 1px solid #e9eeef;
                /* IE 6 | IE 7 */
                * padding-left: expression(this.previousSibling==null?'0':'36px');
                * margin-left: expression(this.previousSibling==null?'0':'36px');
                * border-width: expression(this.previousSibling==null?'0':'1px');
            }

                #bottom ul li:first-child {
                    padding-left: 0;
                    margin-left: 0;
                    border-width: 0;
                }

                #bottom ul li h3 {
                    color: #000000;
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                #bottom ul li p {
                    color: #a0a5a8;
                }

    ul {
        list-style-type: none;
    }

    .table5 {
        border: 1px solid #cccccc;
        border-radius: 3px;
        background-color: #FFFFFF;
    }

        .table5 td {
            border-bottom: 1px dashed #cccccc;
        }

        .table5 .last td {
            border-bottom: 0;
        }

    #banner {
        width: 1024px;
        height: auto;
        margin: 0 auto;
    }

    #goods {
        width: 1024px;
        min-height: 500px;
        margin: 0 auto;
    }

    .greencoler {
        color: #FF9600;
    }

    .am-num {
        width: 40px;
        height: 28px;
        border: 1px solid #DDDDDD;
        text-align: center;
    }

    .buy {
        border: 0px;
        background: none;
    }

        .buy:hover {
            cursor: pointer;
        }

    .am-btn-xs {
        cursor: pointer;
    }

    table {
        width: 1024px;
        text-align: left;
        font-family: "微软雅黑";
    }

    td {
        font-size: 14px;
    }

    tr {
        height: 40px;
    }

    th {
        text-align: left;
    }

    tr:hover {
        background: #DBDBDB;
    }


</style>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>
                    @Html.Raw(ViewBag.Message)
                </h2>
            </hgroup>

            <p>
                @ViewBag.ZhuYi
            </p>

        </div>
    </section>
}

<table cellpadding="10" width="1024">
    <tbody>
        <tr bgcolor="#3CABEB">
            <th>
                商品名称
            </th>
            <th>
                单价
            </th>
            <th>
                库存
            </th>
            <th>
                购买数量
            </th>
            <th>
                接收邮箱
            </th>
            <th>
                操作
            </th>
        </tr> 
        @{ 
            List<ProductViewModel> allPros = ViewBag.pros as List<ProductViewModel>;

            foreach (var item in allPros)
            {
                <tr>
                    <td class="goods" onclick="tips('@item.Name','@item.Price')">
                        <font size="2">@item.Name</font>
                    </td>
                    <td>
                        <font title="物品单价" color="#FF5400">@(item.Price)元</font> 
                    </td>
                    <td>
                        <font title="物品库存" color="#0000FF">19个</font>
                    </td>
                    <td>
                        <span class="am-btn-xs" onclick="goodsjian(true,'109','19')"> - </span>
                        <input class="am-num" id="id109" value="1" type="text">
                        <sapn class="am-btn-xs" onclick="goodsjian(false,'109','19')"> + </sapn>
                    </td>
                    <td>
                        <input class="am-num" id="mail109" value="" placeholder="请填写邮箱地址" style="width:120px;" type="text">
                    </td>
                    <td>
                        <a class="button button-primary button-square button-small">购买</a>
                    </td>
                </tr>
            }
        }
        
    </tbody>
</table>

<script src="http://og0chum3v.bkt.clouddn.com/jquery.js"></script>
<script src="http://og0chum3v.bkt.clouddn.com/bootstrap.js"></script>
<script src="/Scripts/layer.js"></script>
<script>
    function goodsbuy(id, kucun) {
        $obj = document.getElementById('id' + id);
        $objmail = document.getElementById('mail' + id);
        if (kucun < parseInt($obj.value) || kucun == 0) {
            alert('商品库存不足')
            return;
        }



        if ($objmail.value == '') {
            alert('请填写接收邮箱')
            return;
        }
        location.href = "home/index/confirm?mail=" + $objmail.value + "&id=" + id + "&num=" + $obj.value + "&t=" + Math.random();

    }
    function goodsjian(bool, id, kucun) {
        $obj = document.getElementById('id' + id);
        if (bool == true) {
            $obj.value = parseInt($obj.value) - 1;
            if ($obj.value < 1) {
                $obj.value = '1';
            }
        } else {
            $obj.value = parseInt($obj.value) + 1;
            if (parseInt($obj.value) > kucun) {
                $obj.value = kucun;
            }
        }
    }
    function tips(title, price) {
        layer.alert('商品名称：' + title + '<br/>' + '商品价格：' + price + '元', {
            title: '商品详情',
            skin: 'layui-layer-molv',
            closeBtn: 0
        });
    }

</script>